body {
}

.container {
    max-width: 100em;
    margin: 0px auto !important;
}

.btn-xs {
    font-size: 10px !important;
    line-height: 1 !important;
}

.btn-sm {
    font-size: 12 !important;
    line-height: 1.2 !important;
}

#heading {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 5px solid #0266C8;
    margin-bottom: 2px;
    text-align:center;
    color: #fff;
}

#heading:hover {
    cursor: default;
}

.title {
    margin: 20px 0px 10px 0px;
    font-size: 1.5em;
}

.item {
    margin: 5px 0px;
}

.navbar {
    margin-top: 0px;
    border-radius: 0px !important;
    position: fixed;
    width: 100%;
}


.navbar-default {
  background-color: rgba(255,255,255,.965) !important;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-bottom-color: #0266C8 !important;
  box-shadow: 0px 2px 5px 2px #aaa;
}

.navbar-default .navbar-nav>li>a {
    padding-top: 20px;
    color: #606060 !important;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #0266C8 !important;
    font-family: Romanesco;
    font-size: 2.5em;
    margin-right: 50px;
}

.nav-element {
    padding-right: 2em;
    text-align: center;
}

.nav-element:hover {
    border-right: #333;
    border-left: #333;
    background-color: #D8D8D8;
}

.collapse .navbar-collapse {
    padding-left: 300px;
}

.login-button {
    margin-top: 2px;
}

.btn-primary {
    background-color: #0266C8 !important;
    border-color: #0266C8 !important;
    color: #fff !important;
    min-width:100px;
    margin-left: 20px;
    font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

.form-control {
    height: 24px !important;
    padding: 3px 6px !important;
    font-size: 12px !important;
}



.search {
    font-size: 1.2em;
}

#header {
}

#main {
    margin-top: 10px;
    font-size: 1.5em;
}

#new-item, .edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#form-field {
    padding: 16px 16px 16px 60px;
    border: 10px;
    background: #efefef;
    z-index: 2;
    box-shadow: none;
    font-style: italic;
}

#trip-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#trip-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px dotted #ccc;
}

#trip-list li:last-child {
	border-bottom: none;
}

#trip-list li.editing {
	border-bottom: none;
	padding: 0;
}

#trip-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#trip-list li.editing .view {
	display: none;
}

#trip-list li label.check {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
}

#trip-list li label.check:before {
    content: '✔';
    color: #d9d9d9;
    text-shadow: 0 -1px 0 #bfbfbf;
    font-size: 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    left: 0;
    bottom: 1px;
}

#trip-list li.completed label.check:before {
    color: #85ada7;
    text-shadow: 0 1px 0 #669991;
    bottom: 1px;
}

#trip-list li label {
	word-break: break-word;
	font-weight: normal;
	padding: 15px;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

#trip-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}

#trip-list li .destroy {
    border: none;
    background-color: none;
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 22px;
    color: #a88a8a;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

button.destroy {
    background: none;
}

#trip-list li .destroy:hover {
    background: none;
    text-shadow: 0 0 1px #000,
    0 0 10px rgba(199, 107, 107, 0.8);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

#trip-list li .destroy:after {
    content: '✖';
}

#trip-list li:hover .destroy {
    display: block;
}

#trip-list li .edit {
    display: none;
}

#trip-list li.editing:last-child {
    margin-bottom: -1px;
}

#trip-count {
    font-size: 1.1em;
}

.right {
    text-align: right;
}

input[type="checkbox"]:focus {
    outline: none;
}

body {
    background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=USA&zoom=4&scale=2&size=640x420&maptype=roadmap&format=png&visual_refresh=true");
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 640px;
    background-attachment: fixed;
    font-family: "Times New Roman";
}


.tripDisplay#a {
    background-image: none !important;
    background-repeat: none;
    background-color: rgba(255, 255, 255, .9) !important;
    margin: 0px auto;
    padding: 20px 5px 20px 5px;
    width: 100%;
    height: 100%;
    top: 10%;
    color: black;
}

.tripTable {
    width: 100%;
}

.dashDisplay#a {
    color: #fff;
    background-image: none !important;
    background-repeat: none;
    background-color: rgba(96, 96, 96, .9) !important;
    border-color: rgba(25, 25, 25, .8) !important;
    margin: 0px auto;
    padding: 20px 5px 20px 5px;
    width: 100%;
    height: 100%;
    top: 10%;
    font-size: 20px;
    margin-top: 100px;
}

.createForm#a {
    background-image: none !important;
    background-repeat: none;
    background-color: rgba(96, 96, 96, .9) !important;
    border-color: rgba(25, 25, 25, .8) !important;
    margin: 0px auto;
    padding: 20px 5px 20px 5px;
    width: 65%;
    height: 100%;
    top: 10%;
    font-size: 20px;
    margin-top: 100px;
}

.create-question {
    color: #fff;
}

.create-question:hover {
    cursor: default;
}

.statement {
    float: right;
    color: #fff;
    padding-right: 120px;
    padding-top: 5px;
    font-size: 15px;
}

.statement:hover
 {
     Cursor:default !important;
     Color: #fff;
     Text-Decoration: None !important; 
 }

 .tableElement {
    padding: 5px;
    text-align: center;
    font-size: 12pt;
}

.destination {
    padding: 5px;
    text-align: center;
    font-size: 12pt;
    background-color: #0266C8;
    border-color: #0266C8;
    color: #fff;
}
